Functions

In [2]:
print("this is my code")

this is my code

In [3]:
l = [4,54,64,646]

In [4]:
type(l)

list

Pass keyword

In [5]:
def test():
    pass

In [6]:
def test1():
    print("Hello ")

In [7]:
test1()

Hello

In [9]:
#test1 + 'sudh'  # error unsupported operand type(s) for +: 'function' and 'str'

Return keyword

In [10]:
def test2():
    return 'This is pankaj gadwal'

In [11]:
test2()

'This is pankaj gadwal'

In [21]:
test2() + ' hi'

'This is pankaj gadwal hi'

In [12]:
def test3():
    return 'sudh',3514,True,54.564,[564,64,564,64,5644]

In [13]:
test3()

('sudh', 3514, True, 54.564, [564, 64, 564, 64, 5644])

In [15]:
a,b,c,d,e = test3()

In [16]:
e

[564, 64, 564, 64, 5644]

In [17]:
c

True

In [18]:
def test4():
    a=5+6/7
    return a

In [19]:
test4()

5.857142857142857

In [22]:
def test5(a,b,c):
    d=a+b/c
    return d

In [ ]:
test5() # error --> test5() missing 3 required positional arguments: 'a', 'b', and 'c

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [25]:
test5(45,12,64)

45.1875

In [26]:
def test6(a,b):
    return a+b

In [27]:
test6(3,4)

7

In [28]:
test6('sudh'," kumar")

'sudh kumar'

In [29]:
test6([54,654,64],[87,898748,4,4,748])

[54, 654, 64, 87, 898748, 4, 4, 748]

In [30]:
l = [1,2,3,4,'sudh','kumar',[1,2,3,4,5,6]]

In [31]:
l1 = []
l2 = []
for i in l:
    if type(i) == int or type(i) == float:
        l1.append(i)
    else:
        l2.append(i)

In [32]:
l1

[1, 2, 3, 4]

In [33]:
l2

['sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [44]:
def test7(l):
    ls1 = []
    ls2 = []
    for i in l:
        if type(i) == int or type(i) == float:
            ls1.append(i)
        else:
            ls2.append(i)
    return l1,l2

In [45]:
test7(l)

([1, 2, 3, 4], ['sudh', 'kumar', [1, 2, 3, 4, 5, 6]])

In [46]:
def test8(a):
    l = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
    return l

In [47]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

Writing definition in functions database

In [48]:
def test9(a):
    """It Seperate integer values"""
    l = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
    return l

Multiple Arguments

In [51]:
def test(a,b):
    return a+b

In [52]:
def test11(*args):
    return args

In [53]:
type(test11())

tuple

In [54]:
test11(1,2,3,4)

(1, 2, 3, 4)

In [55]:
test11('sudh',54,54,644,True)

('sudh', 54, 54, 644, True)

In [56]:
def test12(*pankaj):
    return pankaj

In [57]:
def test13(*args,a):
    return args,a

In [ ]:
test13(654,4,66,46,68)  # error

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [59]:
test13(654,4,66,46,68,a='Pankaj')

((654, 4, 66, 46, 68), 'Pankaj')

In [62]:
def test14(c,d,a=10,b=20):
    return a,b,c,d

In [63]:
test14(45,4455)

(10, 20, 45, 4455)

In [66]:
test14(12,23,a=45)

(45, 20, 12, 23)

Multiple Key value args

In [67]:
def test15(**kwargs):
    return kwargs

In [68]:
test15()

{}

In [69]:
type(test15())

dict

In [70]:
test15(name='pankaj',surname='gadwal')

{'name': 'pankaj', 'surname': 'gadwal'}