In [2]:
a=10

In [3]:
a

10

In [4]:
type(a)

int

In [19]:
print(type(a))

<class 'int'>

In [5]:
c = 2.554
type(c)

float

In [6]:
d = "PankajGadwal"
type(d)

str

In [ ]:
n = True  # true --> 1
type(n)

bool

In [8]:
type(False)

bool

In [9]:
True + True

2

In [10]:
True + False

1

In [11]:
True * True

1

In [ ]:
True / False  #  Error due to 1 / 0

ZeroDivisionError: division by zero

In [ ]:
v = 5+8j # for complex numbers j is used Instead of i 
type(v)

complex

In [ ]:
v.real   # Real part of complex numbers

5.0

In [ ]:
v.imag    # Imaginary Part of complex number

8.0

In [16]:
v*v

(-39+80j)

In [20]:
v/v

(1+0j)

In [17]:
v+v

(10+16j)

In [18]:
print("Hii Pankaj")

Hii Pankaj

In [21]:
s = "PWSkills"

In [22]:
s[0]

'P'

In [23]:
s[-8]

'P'

In [24]:
s[0:2]

'PW'

In [25]:
s[2:8]

'Skills'

In [26]:
s[ : : 2]

'PSil'

In [ ]:
s[2: :0] # eror --> slice step cannot be zero

ValueError: slice step cannot be zero

In [28]:
s[ : : -1]

'sllikSWP'

In [29]:
s[2:7:-1]

''

In [30]:
s[8:0]

''

In [31]:
s[8:0:-1]

'sllikSW'

In [33]:
s[8:1:-1]

'sllikS'

In [34]:
s[::-1]

'sllikSWP'

In [35]:
s[:-8:-1]

'sllikSW'

In [36]:
s[:-90]

''

In [37]:
s[90:]

''

In [38]:
s[100]

IndexError: string index out of range

In [41]:
c = 200
st = str(c)
st

'200'

In [42]:
st[2]

'0'

In [43]:
st1 = "My Name is Pankaj"
st1

'My Name is Pankaj'

In [44]:
len(st1)

17

In [ ]:
st1.find('nk')  # index find of char/ string using find function

13

In [47]:
st1.count('a')

3

In [49]:
st1.upper()

'MY NAME IS PANKAJ'

In [50]:
st1.lower()

'my name is pankaj'

In [51]:
st1.capitalize()

'My name is pankaj'

In [52]:
st1.title()

'My Name Is Pankaj'

In [ ]:
st1 + 1 # error -->can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [54]:
st1 + '1'

'My Name is Pankaj1'

In [55]:
st1 * 3

'My Name is PankajMy Name is PankajMy Name is Pankaj'

In [56]:
st1 / 4

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [57]:
s + s

'PWSkillsPWSkills'

In [58]:
s - s

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [59]:
s * s

TypeError: can't multiply sequence by non-int of type 'str'

In [60]:
s / s

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [61]:
"don't do copy and paste"

"don't do copy and paste"

In [62]:
'Hello sir "Welcome" to PW'

'Hello sir "Welcome" to PW'

In [ ]:
# This is single line comment in python    shortcut key--> ctrl + /

In [64]:
'''I have learnt variable decleration , data type , string, int
i have seen some examples

i have gone 
'''
# This is multi line comment

'I have learnt variable decleration , data type , string, int\ni have seen some examples\n\ni have gone \n'

In [66]:
st1[::-1].upper()

'JAKNAP SI EMAN YM'

In [67]:
s = 'pankaj'

In [68]:
s[1:4].upper()

'ANK'