If Else Statements

In [1]:
marks = int(input("Enter your marks : "))

In [2]:
if marks>=80: print("A")
elif marks<80 and marks>=60: print("B")
elif marks<60 and marks>=40: print("C")
elif marks<40 and marks>=200: print("D")
else : print("Fail")

Fail

In [3]:
x= 50
type(x)

int

In [4]:
str(x)

'50'

In [5]:
price = int(input("Enter price : "))

if price>10000:
    price("I'm not interested")
    if(price>2000):
        print("It's too much")
    else:
        print("Okay")
else:
    print('Interested')

Interested

In [6]:
l = [1,2,3,3,4,5,6,7,8]

In [10]:

l2 = []
for i in l: l2.append(i+1)

In [11]:
l2

[2, 3, 4, 4, 5, 6, 7, 8, 9]

In [12]:
l = ['sudh','kumar','pwskills','course']

In [16]:
l2 = []
for i in l:
    l2.append(i.upper())

In [17]:
l2

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [18]:
l = [1,2,3,4,4,'sidh','kumar',56,65,656,'abc']

In [21]:
type(l[0])

int

In [33]:
l2_num =[]
l3_str = []
for i in l:
    if type(i) == int or type(i) == float:
        l2_num.append(i)
    else:
        l3_str.append(i)

In [36]:
l2_num

[1, 2, 3, 4, 4, 56, 65, 656]

In [37]:
l3_str

['sidh', 'kumar', 'abc']