For loop

In [1]:
l = [51,561,5,64,4]

In [3]:
for i in l:
    print(i,type(i))

51 <class 'int'>
561 <class 'int'>
5 <class 'int'>
64 <class 'int'>
4 <class 'int'>

In [4]:
l1 = ['pankaj','krish','sudh','naik']

In [6]:
for i in l1:
    print(i)
else:
    print("Loop complete")

pankaj
krish
sudh
naik
Loop complete

In [7]:
for i in l1:
    if i=='sudh':
        break
    print(i)
else:
    print("Loop complete")

pankaj
krish

In [8]:
for i in l1:
    if i=='sudh':
        continue
    print(i)
else:
    print("Loop complete")

pankaj
krish
naik
Loop complete

In [9]:
range(5)

range(0, 5)

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [13]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [14]:
l1

['pankaj', 'krish', 'sudh', 'naik']

In [15]:
len(l1)

4

In [22]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [23]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
sudh
krish
pankaj

In [24]:
l

[51, 561, 5, 64, 4]

In [26]:
list(range(0,len(l1)+1,2))

[0, 2, 4]

In [28]:
for i in range(0,len(l1)+1,2):
    print(l[i])

51
5
4

In [29]:
l

[51, 561, 5, 64, 4]

In [30]:
sum(l)

685

In [31]:
result=0
for i in l:
    result = result + i
print(result)

685

In [32]:
s='pwskills'
for i in s:
    print(i)

p
w
s
k
i
l
l
s

In [33]:
d = {'name':'pankaj','class':'B.tech','section':'F'}

In [34]:
d.keys()

dict_keys(['name', 'class', 'section'])

In [35]:
for i in d.keys():
    print(d[i])

pankaj
B.tech
F

In [36]:
d.values()

dict_values(['pankaj', 'B.tech', 'F'])

In [37]:
for i in d.values():
    print(i)

pankaj
B.tech
F