List

In [1]:
l = [1,345,6.2,'Pankaj',True,5+7j]  # list are mutable

In [2]:
len(l)

6

In [3]:
type(l)

list

In [4]:
l[0]

1

In [5]:
l[2]

6.2

In [6]:
# l[90]

In [7]:
l[0:3]

[1, 345, 6.2]

In [8]:
l[-1]

(5+7j)

In [9]:
l[::-1]

[(5+7j), True, 'Pankaj', 6.2, 345, 1]

In [10]:
l[::2]

[1, 6.2, True]

In [11]:
s = "pwskills"

In [12]:
l + s

TypeError: can only concatenate list (not "str") to list

In [ ]:
list(s)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [ ]:
l[3][0:3]

'Pan'

In [ ]:
l

[1, 345, 6.2, 'Pankaj', True, (5+7j)]

In [ ]:
#l[4][0:2]  # error

In [ ]:
str(l[4])[0:2]

'Tr'

In [ ]:
l * 3

[1,
 345,
 6.2,
 'Pankaj',
 True,
 (5+7j),
 1,
 345,
 6.2,
 'Pankaj',
 True,
 (5+7j),
 1,
 345,
 6.2,
 'Pankaj',
 True,
 (5+7j)]

In [ ]:
len(l)

6

In [ ]:
l.append(5)

In [ ]:
l

[1, 345, 6.2, 'Pankaj', True, (5+7j), 5]

In [ ]:
l.append(s)

In [ ]:
l

[1, 345, 6.2, 'Pankaj', True, (5+7j), 5, 'pwskills']

In [ ]:
l1 = [2,9,8]

In [ ]:
l.append(l1)

In [ ]:
l

[1, 345, 6.2, 'Pankaj', True, (5+7j), 5, 'pwskills', [2, 9, 8]]

In [ ]:
l[-1][1]

9

In [ ]:
#l.extend(4)  #error

In [ ]:
l.extend("Data")

In [ ]:
l

[1,
 345,
 6.2,
 'Pankaj',
 True,
 (5+7j),
 5,
 'pwskills',
 [2, 9, 8],
 'D',
 'a',
 't',
 'a']

In [ ]:
l1

[2, 9, 8]

In [ ]:
l1.insert(1,"sudh")

In [ ]:
l1

[2, 'sudh', 9, 8]

In [ ]:
l1.insert(-1,555)

In [ ]:
l1

[2, 'sudh', 9, 555, 8]

In [ ]:
l1.pop()

8

In [ ]:
l1

[2, 'sudh', 555]

In [ ]:
l1.pop(2)

9

In [ ]:
l1.remove(2)

In [ ]:
l1

['sudh', 555]

In [ ]:
l1.remove(654)

ValueError: list.remove(x): x not in list

In [ ]:
l1.append([654,87,64,54])

In [ ]:
l1

['sudh', 555, [654, 87, 64, 54]]

In [ ]:
l1[2].pop()

54

In [ ]:
l1[2].remove(654)

In [ ]:
l1

['sudh', 555, [87, 64]]

In [ ]:
#l1[0].remove("d")   # error

AttributeError: 'str' object has no attribute 'remove'

In [ ]:
l1.reverse()

In [ ]:
l1

[[87, 64], 555, 'sudh']

In [ ]:
l2 = [1,65,1256,5,216,31,26,23,16,2,5,3,65,31]

In [ ]:
l2.sort()

In [ ]:
l2

[1, 2, 3, 5, 5, 16, 23, 26, 31, 31, 65, 65, 216, 1256]

In [ ]:
l1

[[87, 64], 555, 'sudh']

In [ ]:
l1.sort()

TypeError: '<' not supported between instances of 'int' and 'list'

In [ ]:
l2.sort(reverse=True)

In [ ]:
l2

[1256, 216, 65, 65, 31, 31, 26, 23, 16, 5, 5, 3, 2, 1]

In [ ]:
l2.count(5)

2

In [ ]:
l2.index(5)

9

In [ ]:
s = "sudh"
s[0] = "D"

TypeError: 'str' object does not support item assignment

In [ ]:
l2[0] = 565656

In [ ]:
l2

[565656, 216, 65, 65, 31, 31, 26, 23, 16, 5, 5, 3, 2, 1]

In [ ]:
s.replace('s','A')

'Audh'

Tuple

In [ ]:
t = (54,1,35,43,16,4,"Pankaj",True)

In [ ]:
type(t)

tuple

In [ ]:
len(t)

8

In [ ]:
t[2]

35

In [ ]:
t[::-1]

(True, 'Pankaj', 4, 16, 43, 35, 1, 54)

In [ ]:
# t[2] = 4554     # error due to tuple is Immutable

In [ ]:
t.count(16)

1

In [ ]:
t.index(16)

4

Set

In [ ]:
s = {645,15,165,446,5,165,654,64,64,4,464,56,}

In [ ]:
s

{4, 5, 15, 56, 64, 165, 446, 464, 645, 654}

In [ ]:
#s2 = {54,54,54,64,648,74,[6,3456,4,4]}  # error --> unhashable type: 'list'

In [ ]:
s.add(10000)

Dictionary

In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
d = {"key":"value"}

In [5]:
d['key']

'value'

In [6]:
d1 = {'name':'Pankaj','email':'pk@gmail.com','number':5646655351531}

In [7]:
d1

{'name': 'Pankaj', 'email': 'pk@gmail.com', 'number': 5646655351531}

In [12]:
d2 = {True:555, "xyz":'pqr',564:"Hello"}

In [13]:
d2

{True: 555, 'xyz': 'pqr', 564: 'Hello'}

In [14]:
d2[1]

555

In [18]:
d2['xyz']

'pqr'

In [19]:
d3 = {"name":'pankaj','email':'pk@gmail.com','name':"Kanha"}

In [20]:
d3['name']

'Kanha'

In [21]:
d5 = {'Company':'pwskills','course':['web dev','data science','java']}

In [22]:
d5['course']

['web dev', 'data science', 'java']

In [23]:
d5['course'][2]

'java'

In [24]:
d6 = {'number':[65,4,4,54,6546,654],'assignment':(4,545,4,4,44,4),'launch_date':{65,46,46,46,4},'class_time':{'deops':8,"java":9,'C++':10}}

In [25]:
d6

{'number': [65, 4, 4, 54, 6546, 654],
 'assignment': (4, 545, 4, 4, 44, 4),
 'launch_date': {4, 46, 65},
 'class_time': {'deops': 8, 'java': 9, 'C++': 10}}

In [26]:
d6['class_time']

{'deops': 8, 'java': 9, 'C++': 10}

In [27]:
d6['class_time']['java']

9

In [28]:
d6['mentor'] = ['pankaj','krish','sudh','hayder']

In [29]:
d6

{'number': [65, 4, 4, 54, 6546, 654],
 'assignment': (4, 545, 4, 4, 44, 4),
 'launch_date': {4, 46, 65},
 'class_time': {'deops': 8, 'java': 9, 'C++': 10},
 'mentor': ['pankaj', 'krish', 'sudh', 'hayder']}

In [30]:
d6.keys()

dict_keys(['number', 'assignment', 'launch_date', 'class_time', 'mentor'])

In [31]:
d6.values()

dict_values([[65, 4, 4, 54, 6546, 654], (4, 545, 4, 4, 44, 4), {65, 4, 46}, {'deops': 8, 'java': 9, 'C++': 10}, ['pankaj', 'krish', 'sudh', 'hayder']])

In [32]:
d6.items()

dict_items([('number', [65, 4, 4, 54, 6546, 654]), ('assignment', (4, 545, 4, 4, 44, 4)), ('launch_date', {65, 4, 46}), ('class_time', {'deops': 8, 'java': 9, 'C++': 10}), ('mentor', ['pankaj', 'krish', 'sudh', 'hayder'])])

In [33]:
list(d6.items())

[('number', [65, 4, 4, 54, 6546, 654]),
 ('assignment', (4, 545, 4, 4, 44, 4)),
 ('launch_date', {4, 46, 65}),
 ('class_time', {'deops': 8, 'java': 9, 'C++': 10}),
 ('mentor', ['pankaj', 'krish', 'sudh', 'hayder'])]

In [34]:
d6.pop('mentor')

['pankaj', 'krish', 'sudh', 'hayder']

In [35]:
d6

{'number': [65, 4, 4, 54, 6546, 654],
 'assignment': (4, 545, 4, 4, 44, 4),
 'launch_date': {4, 46, 65},
 'class_time': {'deops': 8, 'java': 9, 'C++': 10}}